# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# CSV files
*.csv

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

output/
bin/

# keep the Vendor subdirs out
vendor/

# local utilities
local_data/
cmd/brand-family-loader/

glide.lock

.DS_Store
.vscode
.idea/

debug
